<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="TFPT" value="C:\Program Files\Microsoft Team Foundation Server 2008 Power Tools\TFPT.exe"/>
    <add key="BC2" value="C:\Program Files\Beyond Compare 2\BC2.exe"/>
    <add key="Zip" value="C:\Program Files\7-Zip\7z.exe"/>
	  <add key="Sync" value="C:\TFSWorkspaces\VS2008\SRM\Branches\DEVELOPMENT\PowerShell\PowerShellScripts\References\Sync21\Sync.jar"/>
    <!--<add key="SQLCompare" value="C:\Program Files\Red Gate\SQL Compare 7\sqlcompare.exe"/>-->
  </appSettings>
</configuration>
