<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="server=DS73SQLPRD04;database=SRM_TFS_Deploys;uid=TFSDeployer;pwd=six3rs76" />
    <add key="OutputPath" value="C:\Inetpub\wwwroot\DeploymentReport.html" />
    <add key="RecentDeploymentDays" value="5" />
    <add key="NewDeploymentDays" value="1" />
    <add key="Environments" value="Assembly,QA2,End2End,Training,PrePrd,Production,TST1,QTE,Staging,Test" />
  </appSettings>
</configuration>
