<?xml version="1.0" encoding="utf-8"?>
<Sites>
  <Site Name="Agent"
        Url="http://as73mosstst02:29421/Sites/Agent"
        WspName="Agent.wsp"
        TemplateName="AgentSiteDefinition" >
    <Groups>
      <Group name="Agent" type="member" description="LGBP Agent Members">
        <Users>
          <!-- Email addresses are made up b/c it is a required field in stsadm adduser-->
          <user userlogin="fbaroles:agent" useremail="LGBPagent@hgic.com" username="Agent" />
          <user userlogin="CORP\LifeGBPUsers" useremail="LifeGBPUsers@harleysvilleGroup.com" username="LifeGBPUsers" />
          <user userlogin="CORP\LifeGBPDevelopers" useremail="LifeGBPDevelopers@harleysvilleGroup.com" username="LifeGBPDevelopers" />
          <user userlogin="CORP\LifeGBPtstUsers" useremail="LifeGBPtstUsers@harleysvilleGroup.com" username="LifeGBPtstUsers" />
          <user userlogin="CORP\LifeGBPsuperUsers" useremail="LifeGBPsuperUsers@harleysvilleGroup.com" username="LifeGBPsuperUsers" />
          <user userlogin="CORP\LifeGBPtstsuperUsers" useremail="LifeGBPststsuperUsers@harleysvilleGroup.com" username="LifeGBPtstsuperUsers" />
        </Users>
      </Group>
    </Groups>
  </Site>
  <Site Name="Carrier"
        Url="http://as73mosstst02:29421/Sites/Carrier"
        WspName="CarrierWsp.wsp"
        TemplateName="CarrierSiteDefinition" >
    <Groups>
      <Group name="Carrier" type="member" description="LGBP Carrier Members">
        <Users>
          <user userlogin="CORP\LifeGBPUsers" useremail="LifeGBPUsers@harleysvilleGroup.com" username="LifeGBPUsers" />
          <user userlogin="CORP\LifeGBPDevelopers" useremail="LifeGBPDevelopers@harleysvilleGroup.com" username="LifeGBPDevelopers" />
          <user userlogin="CORP\LifeGBPtstUsers" useremail="LifeGBPtstUsers@harleysvilleGroup.com" username="LifeGBPtstUsers" />
          <user userlogin="CORP\LifeGBPsuperUsers" useremail="LifeGBPsuperUsers@harleysvilleGroup.com" username="LifeGBPsuperUsers" />
          <user userlogin="CORP\LifeGBPtstsuperUsers" useremail="LifeGBPststsuperUsers@harleysvilleGroup.com" username="LifeGBPtstsuperUsers" />
        </Users>
      </Group>
      <Group name="SuperUser" type="member" description="LGBP Carrier Super Users">
        <Users>
          <user userlogin="CORP\LifeGBPsuperUsers" useremail="LifeGBPsuperUsers@harleysvilleGroup.com" username="LifeGBPsuperUsers" />
          <user userlogin="CORP\LifeGBPtstsuperUsers" useremail="LifeGBPststsuperUsers@harleysvilleGroup.com" username="LifeGBPtstsuperUsers" />
        </Users>
      </Group>
    </Groups>
  </Site>
  <Site Name="Employer"
        Url="http://as73mosstst02:29421/Sites/Employer"
        WspName="Employer.wsp"
        TemplateName="EmployerSiteDefinition" >
    <Groups>
      <Group name="Employer" type="member" description="LGBP Employer Members">
        <Users>
          <user userlogin="fbaroles:employer" useremail="LGBPemployer@hgic.com" username="Employer" />
          <user userlogin="CORP\LifeGBPUsers" useremail="LifeGBPUsers@harleysvilleGroup.com" username="LifeGBPUsers" />
          <user userlogin="CORP\LifeGBPDevelopers" useremail="LifeGBPDevelopers@harleysvilleGroup.com" username="LifeGBPDevelopers" />
          <user userlogin="CORP\LifeGBPtstUsers" useremail="LifeGBPtstUsers@harleysvilleGroup.com" username="LifeGBPtstUsers" />
          <user userlogin="CORP\LifeGBPsuperUsers" useremail="LifeGBPsuperUsers@harleysvilleGroup.com" username="LifeGBPsuperUsers" />
          <user userlogin="CORP\LifeGBPtstsuperUsers" useremail="LifeGBPststsuperUsers@harleysvilleGroup.com" username="LifeGBPtstsuperUsers" />
        </Users>
      </Group>
    </Groups>
  </Site>
</Sites>
