<appSettings>
	<add key="AssemblerProjects" value="AgentPortal;Billing;Agency;URE"/>
	<add key="AssemblerEmail" value="RMartor@harleysvillegroup.com"/>
	<add key="AssemblerName" value="Martorelli, Robert"/>
	<add key="WorkItemTrackingCacheRoot" value="C:\Documents and Settings\Default User\Local Settings\Application Data\Microsoft\Team Foundation\1.0\Cache"/>
	<add key="DebugEmail" value="bhopenw@harleysvillegroup.com"/>
</appSettings>
    
