<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="SMTP-Server" value="172.20.2.15"/>
		<add key="AlertSenderAddress" value="Tfs@harleysvillegroup.com"/>
		<add key="AssemblerEmail" value="RMartor@harleysvillegroup.com"/>
		<add key="AssemblerProjects" value="AgentPortal;Billing;Agency;URE;IntegratedServices"/>
		<add key="AssemblerName" value="Hopenwassser, Brian"/>
		<add key="WorkItemTrackingCacheRoot" value="C:\Documents and Settings\Default User\Local Settings\Application Data\Microsoft\Team Foundation\1.0\Cache"/>
		<add key="DebugEmail" value="bhopenw@harleysvillegroup.com"/>
		<add key="DebugEmailSubject" value="TFS Event Services Error on Dev server"/>
		<add key="DebugMode" value="On"/>
		<add key="AgentPortal_Approver" value="VSTFHelp@Harleysvillegroup.com;SRM Group"/>
		<add key="IntegratedServices_Approver" value="VSTFHelp@Harleysvillegroup.com;SRM Group"/>
		<add key="URE_Approver" value="Hopenwassser, Brian"/>
		<add key="DataBase_Approver" value="VSTFHelp@harleysvillegroup.com;Application DBA Group"/>
		<add key="Agency_Approver" value="VSTFHelp@Harleysvillegroup.com;SRM Group"/>
		<add key="UserSecurityLoad_Approver" value="VSTFHelp@Harleysvillegroup.com;SRM Group"/>
		<add key="HIEDMS_Approver" value="VSTFHelp@Harleysvillegroup.com;SRM Group"/>
		<add key="AgencyBilledSchedule_Approver" value="VSTFHelp@Harleysvillegroup.com;SRM Group"/>
		<add key="PolicyOutput_Approver" value="VSTFHelp@Harleysvillegroup.com;SRM Group"/>
		<add key="DuckCreek_Approver" value="Hopenwasser, Brian"/>
		<add key="DuckCreek_.Net_Deployer" value="VSTFHelp@Harleysvillegroup.com;SRM Group"/>
		<add key="DuckCreek_.Net_PrdDeployer" value="VSTFHelp@harleysvillegroup.com;System DBA Group"/>
		<add key="PersonalLines.Projects_Approver" value="Schell, Dennis"/>
		<add key="PredictiveModelingService_Approver" value="VSTFHelp@Harleysvillegroup.com;SRM Group"/>
		<add key="AQS_Approver" value="VSTFHelp@Harleysvillegroup.com;SRM Group"/>
		<add key="IRB_Approver" value="bhopenwasser@harleysvillegroup.com;IRB Group"/>
		<add key=".Net_Deployer" value="VSTFHelp@Harleysvillegroup.com;SRM Group"/>
		<add key="DataBase_Deployer" value="VSTFHelp@harleysvillegroup.com;System DBA Group"/>
		<add key="DataBase_Assembly_Deployer" value="VSTFHelp@harleysvillegroup.com;SRM Group"/>
		<add key="webMethods_Deployer" value="VSTFHelp@Harleysvillegroup.com;webMethods Group"/>
		<add key=".Net_PrdDeployer" value="VSTFhelp@harleysvillegroup.com;SRM Group"/>
		<add key="DataBase_PrdDeployer" value="VSTFHelp@harleysvillegroup.com;System DBA Group"/>
		<add key="webMethods_PrdDeployer" value="VSTFHelp@harleysvillegroup.com;webMethods Group"/>
		<add key="IRBGroup" value="bhopenwasser@harleysvillegroup.com;IRB Group"/>
		<add key="RunningOn" value="W73HIC402940VM"/>
		<add key="DeploymentTypesNeedApprovalInAsy" value="DataBase;webMethods"/>
		<add key="AreaPath4Prd" value="\DBI\Prd"/>
		<add key="AreaPath4IRB" value="\DBI\IRB"/>
		<add key="AreaPath4Deployment" value="\DBI\Deployment"/>
		<add key="AreaPath4SRM" value="\SRM"/>
		<add key="AreaPath4Closed" value="\DBI\Closed"/>
		<add key="AreaPath4Open" value="\DBI\Open"/>
		<add key="AreaPath4Deleted" value="\DBI\Deleted"/>
		<add key="DBI-TeamProject" value="ITProjectPortal"/>
		<add key="DefaultApprover" value="VSTFhelp@harleysvillegroup.com;SRM Group"/>
		<add key="Informatica_Deployer" value="vstfhelp@Harleysvillegroup.com;SRM Group"/>
		<add key="Informatica_PrdDeployer" value="vstfhelp@Harleysvillegroup.com;System Server Group"/>
		<add key="Deploy2TFVC" value="false"/>
		<!-- Check-in keys-->
		<add key="ConfigCheckInAlertAddress" value="vstfhelp@Harleysvillegroup.com"/>
		
		<!-- LBI Keys-->

		<add key="Path2CreateLabel" value="C:\Projects\SRM\Branches\DEVELOPMENT\TFSeventServices\PSHScripts\Create-InfoLabel.ps1"/>
		<add key="InfoHostMachine_Rep_DEV" value="AS73ETLDEV02"/>
		<add key="InfoHostMachine_Rep_E2E" value="AS73ETLE2E01"/>
		<add key="InfoHostMachine_Rep_TST1" value="AS73ETLTST01"/>
		<add key="InfoReqMailBox" value="InformaticaRequests@harleysvillegroup.com"/>
		
	</appSettings>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.	 	
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="Microsoft.TeamFoundation.Client, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.TeamFoundation, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.TeamFoundation.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.TeamFoundation.WorkItemTracking.Client.RuleEngine, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.TeamFoundation.VersionControl.Common.Integration, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.TeamFoundation.WorkItemTracking.Client.QueryLanguage, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.TeamFoundation.VersionControl.Client, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.TeamFoundation.WorkItemTracking.Proxy, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.TeamFoundation.WorkItemTracking.Client, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.TeamFoundation.WorkItemTracking.Client.Cache, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.VisualC, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.TeamFoundation.WorkItemTracking.Client.DataStore, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.TeamFoundation.WorkItemTracking.Client.Provision, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.TeamFoundation.VersionControl.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="Microsoft.TeamFoundation.Common.Library, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=2.0.0.0, Culture=neutral, PublicKeyToken=02CA582B160D0E09"/>
				<add assembly="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=02CA582B160D0E09"/>
				<add assembly="Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=02CA582B160D0E09"/>
				<add assembly="Microsoft.Practices.EnterpriseLibrary.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=02CA582B160D0E09"/>
				<add assembly="Microsoft.Practices.ObjectBuilder, Version=1.0.51205.0, Culture=neutral, PublicKeyToken=02CA582B160D0E09"/>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Messaging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.TeamFoundation.Build.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.Build.Framework, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Management.Automation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<!--
			  <identity impersonate="true" userName="registry:HKLM\SOFTWARE\TFSEventServices\identity\ASPNET_SETREG,userName" password="registry:HKLM\SOFTWARE\TFSEventServices\identity\ASPNET_SETREG,password"/>
					   -->
	</system.web>
	<system.net>
		<mailSettings>
			<smtp>
				<network host="127.0.0.1" password="" userName=""/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
